<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> ToDo-List! </title>
  <link rel="stylesheet" href="stylesHome.css">
  <link rel="shortcut icon" href="#">
</head>

<body>
  <div id="content">
    <h1>Welcome <span id="curHandle"><%= userHandle %><span></h1>
    <a href="/">Logout!</a>
    <p id="tagLine"> Here are your lists: </p>
    
    <!-- Code for adding a new lsit item! -->
    <input type="text" id="newEntryField" name="newEntry">
    <input type="button" id="newEntryBtn" value="+">
    
    <div id="listItems">
    <%  for(var item of userLists) { %> 
          <p> <%= item %> </p>
    <%  } %>
    </div>
  </div>
  <!-- Include the JS file! -->
  <!-- You are basically telling the browser to search for this file
  in the "public" directory! -->
  <script src="logicHome.js"></script>
</body>

</html>
