<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sign Up!</title>
  <link rel="stylesheet" href="stylesSignup.css">
  <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="inForm"> <!-- inForm stands for : Sign-up form -->
      <h1>Signup!</h1>

      <% if(someMsg === 1) { %>
        <p id="wrongSignup"><%= message %></p>
      <% } %>
    
      <form id="formSignup" action="/signup" method="post">

        <table>
          <tr>
            <td><label>Name:</label></td>
            <td><input autocomplete="off" type="text" name="name"></td>
          </tr>
          <tr>
            <td><label>Password:</label></td>
            <td><input autocomplete="off" type="password" name="pw"></td>
          </tr>
          <tr>
            <td><label>Handle:</label></td>
            <td><input autocomplete="off" type="text" name="handle"></td>
          </tr>
        </table>
        <br>

        <input type="submit" id="signup" value="Signup!">
        <p>Existing user?</p> 
        <a href="/signin">Signin!</a>
      </form>
    </div>

  <!-- Include the JS file! -->
  <!-- You are basically telling the browser to search for this file
  in the "public" directory!
  -->
  <script src="logicSignup.js"></script>
</body>

</html>
